// Colors
// text
$text-dark: hsl(207, 21%, 25%);
$text-grey: hsl(0, 0%, 44%);
$text-lightGrey: hsl(0, 0%, 60%);

// background
$primary: hsl(204, 82%, 57%);
$secondary: hsl(13, 81%, 61%);
$bg-lightGrey: hsl(240, 11%, 98%);

	.widget {
		// Simple reset & global styles
		* {
			margin: 0;
			padding: 0;
			color: $text-dark;
			box-sizing: border-box;
			font-family: 'Inter', sans-serif;
		}

		ul {
			list-style-type: none;
		}

		display: grid;
		grid-template-columns: 2fr 3fr;
		grid-template-areas:
		"main days days"
		"main chart chart"
		"details chart chart"
		"details chart chart";
		gap:2rem 2rem;
		max-width: 1024px;
		padding: 2.5rem;
		margin: 0 auto;

		border: 1px solid #e1e1e1;
		background-color: white;
		border-radius: 16px;

		.header-info-container {
			grid-area: main;
			.header__city {
				align-items: center;
				gap: 1rem;
				margin-bottom: 0.25rem;

				font-size: clamp(16px, 4vw, 24px);
				font-weight: 600;
			}

			.header-temp-container {
				display: flex;
				flex-flow: wrap-reverse;

				.header__temp {
					display: inline;

					font-size: clamp(42px, 10vw, 64px);
					font-weight: 500;
				}

				.header__icon {
					display: inline;
					align-self: center;
					max-width: 100%;
  					height: auto;

					border-radius: 16px;
				}
			}

			.header__date {
				padding-bottom: 1rem;
				font-size: clamp(12px, 3vw, 16px);
				font-weight: 400;
				color: #737373;
			}

			.header__feels {
				font-size: clamp(12px, 3vw, 16px);
				color: #737373;
			}
		}

		.details-container {
			grid-area: details;
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
			align-items: center;
			gap: 1rem;
			height: fit-content;
			padding: 1rem;

			text-align: center;
			background-color: $bg-lightGrey;
			border-radius: 8px;

			.details__text {
				display: flex;
				flex-flow: column;

				font-size: 12px;
				font-weight: 600;
				text-transform: capitalize;
				text-align: left;
				white-space: nowrap;
				color: $text-lightGrey;
				// prevents text overflow on smaller width of the widget
				overflow: revert-layer;

				.details__value {
					padding-top: 0.25rem;

					font-size: 16px;
					text-transform: lowercase;
					font-weight: 500;
					color: $text-grey;
				}
			}
		}

		.menu-container {
			grid-area: days;
			display: grid;
			grid-template-rows: 1fr;
			grid-template-columns: repeat(8, 1fr);
			justify-content: space-between;
			gap: 0.5rem;

			.button {
				font-family: 'Inter', sans-serif;
				height: 40px;
				width: 100%;
				min-width: 40px;
				padding: 0.5rem;

				font-weight: 600;
				letter-spacing: 1.1;
				color: #1d6fa6;
				background-color: #d8eefe;
				border: none;
				border-radius: 8px;
				transition: all 100ms ease-in-out;

				&:hover {
					opacity: 0.8;
					cursor: pointer;
				}

				&:active {
					transition: all 20ms ease-in-out;
				}
			}
			.selected-day {
				background-color: $primary;
				color: white;
			}
		}

		.chart-container {
			grid-area: chart;
			align-self: center;
			height: 100%;
			max-height: 270px;
		}
	}


	@media screen and (max-width: 800px) {
			.widget {
				grid-template-areas:
				"main details details"
				"days days days"
				"chart chart chart";
				gap: 1rem;
				.header-info-container {
					place-self: left;

					.header__temp {
						font-size: clamp(40px, 1%, 52px);
					}
				}

				.details-container {
					height: auto;
					.details__text {
						font-size: 12px;
						letter-spacing: 0.3;

						.details__value {
							font-size: 14px;
							font-weight: 500;
						}
					}
				}

				.menu-container {
					padding-block: 1rem;
					.button {
						padding: 0.25rem;
						font-size: 12px;
					}
				}

				.chart-container {
					height: 250px;
				}
			}
	}

	@media screen and (max-width: 460px) {

			.widget {
				display: flex;
				flex-flow: column;
				padding: 1.5rem;
				gap: 1.5rem;
				text-align: center;

				.header-info-container {
					align-self: center;

					.header__city {
						font-size: 24px;
					}

					.header-temp-container {
						flex-flow: column-reverse;
						align-items: center;
					}
				}

				.details-container {
					gap: 0.5rem;
				}

				.menu-container {
					display: grid;
					grid-template-rows: 1fr 1fr;
					grid-template-columns: repeat(4, 1fr);
					padding-block: 0;
				}

				.chart-container {
					height: 200px;
					width: 100%;
				}
			}

	}



